[user]
	name = Steven Benner
	email = admin@stevenbenner.com
[credential "https://git.belkin.com/"]
	username = steven.benner
[credential "http://wemo-git.belkin.com/"]
	username = steven.benner
[credential]
	helper = cache
[core]
	pager = less -R -x1,5
