[user]
	name = Steven Benner
	email = admin@stevenbenner.com
[credential "https://git.belkin.com/"]
	username = steven.benner
[credential "http://wemo-git.belkin.com/"]
	username = steven.benner
[credential]
	helper = cache
[core]
	pager = less -RS -x1,5
[diff]
	algorithm = histogram
	compactionHeuristic = true
[status]
	showUntrackedFiles = all
[alias]
	graph = log --graph --all --pretty=format:'%C(bold blue)%h%C(reset) %C(white)%s%C(reset) %C(dim white)[%an]%C(reset) %C(green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)'
	mergelog = log --merges --all --pretty=format:'%C(yellow)%h%C(reset) %C(green)%cr%C(reset) %C(blue)%cn%C(reset)%C(red)%d%C(reset) %s'
