git/.config/git/config.local
gtk/.config/gtk-3.0/bookmarks
ssh/*
sublime-text-3/*
xfce/.config/xfce4/desktop/
xfce/.config/xfce4/xfce4-screenshooter
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/keyboard-layout.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-screensaver.xml
